<!DOCTYPE html>
<html lang="en">

<head>
<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="assets/css/main.css">
<title>{{ site.title }}</title>
</head>

<body>

<header>
    <div class="container">
        <img src="assets/images/logo.png" id="logo" alt="retroswan's avatar">
        
        <h1>retroswan</h1>
        
        <nav>
            <ul class="navigation">
                <li><a href="/" class="navigation__link">Home</a></li>
                <li><a href="/blog" class="navigation__link">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        {{ content }}
    </div>
</main>

<footer>
    <div class="container">
        retroswan
    </div>
</footer>

</body>

</html>
